// 全局样式 混入
$bgColor: #00bcd4;
$darkColor: #333;
$lightDark: #f1f1f1;
$yellowColor: #ff9300;

// 标准头部高度
$headHeight: .86rem;

// 文字不换号省略号
@mixin ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
// 去除inputbutton样式
@mixin clearBtn {
    background: none;
    outline: none;
    border: none;
}
// 宽高
@mixin wh($width,$height){
    width: $width;
    height: $height;
}
// flex
// 纵向排列居中
@mixin fCoCent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}